<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">

        <div class="anime" id="anime-1">
            <div class="anime-slider-0">
                <img src="img/SC-img/cover-0 - Copia.jpg" id="img-2" alt="SC">
                <div class="card-content">
                    <h3>Samurai Champloo</h3>
                </div>
            </div>
            <div class="anime-slider-0">
                <img src="/img/VS-img/logo.webp" alt="">
                <div class="card-content">
                    <h3>Vinland Saga</h3>
                </div>
            </div>
            <div class="anime-slider-0">
                <img src="/img/AOT-img/cover_resized.webp" alt="">
                <div class="card-content">
                    <h3>Attack on Titan</h3>
                </div>
            </div>
            <div class="anime-slider-0">
                <img src="/img/SG-img/thumb-349858.jpg" alt="">
                <div class="card-content">
                    <h3>Steins Gate</h3>
                </div>
            </div>
            <div class="anime-slider-0">
                <img src="./img/CB/d4b6f83fba3e9bfaacbd723ecdf76863.jpg" alt="">
                <div class="card-content">
                    <h3>cowboy bebop</h3>
                </div>
            </div>
            <div class="anime-slider-0">
                <img src="./img/BZ/168a1af5f6d637b7c217e9da7eaf231f.jpg" alt="">
                <div class="card-content">
                    <h3>Berserk</h3>
                </div>
            </div>
            <div class="anime-slider-0">
                <img src="./img/DN/MV5BNjRiNmNjMmMtN2U2Yi00ODgxLTk3OTMtMmI1MTI1NjYyZTEzXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_FMjpg_UX1000_.jpg"
                    alt="">
                <div class="card-content">
                    <h3>death Note</h3>
                </div>
            </div>
            <div class="anime-slider-0">
                <img src="./img/AS/thumb-357023.jpg" alt="">
                <div class="card-content">
                    <h3>afro samurai</h3>
                </div>
            </div>
            <div class="anime-slider-0">
                <img src="./img/HE/thumb-363953.jpg" alt="">
                <div class="card-content">
                    <h3>hellsing</h3>
                </div>
            </div>
            <div class="anime-slider-0">
                <img src="./img/TG/tokyo-ghoul.download" alt="">
                <div class="card-content">
                    <h3>tokyo ghoul</h3>
                </div>
            </div>
        </div>

    </div>

</body>

</html>