<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinity-home-body</title>
</head>

<body>
    <div id="carouselExampleCaptions" class="carousel slide">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/OP/b398a6397a5e2cf9b4d509d7be83cae7 - Copia.jpg" class="d-block w-100" alt="#">
                <div class="carousel-caption d-none d-md-block">
                    <div class="box">
                        <h1>One Piece</h1>
                        <p>Monkey D. Luffy, um jovem feito de borracha, inspirado em seu ídolo de infância, <br>
                            o poderoso pirata Shanks, o Ruivo, parte em uma jornada do mar do East Blue para encontrar
                            <br>
                            o tesouro mítico, o One Piece, e proclamar-se o Rei dos Piratas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/SC.jpg" class="d-block w-100" alt="#">
                <div class="carousel-caption d-none d-md-block">
                    <div class="box">
                        <h1>Samurai Champloo</h1>
                        <p>Fuu, uma jovem de 15 anos, quer encontrar "o samurai com cheiro de girassol", e tudo
                            o<br>
                            que sabe a respeito dele é que ele habita na outra extremidade do Japão. No seu
                            caminho,<br>
                            cruza com Mugen, um vagabundo de 20 anos, e Jin, um ronin de 20 anos, que deverão<br>
                            segui-la devido a uma aposta perdida.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/VS.webp" class="d-block w-100" alt="#">
                <div class="carousel-caption d-none d-md-block">
                    <div class="box">
                        <h1>Vinland Saga</h1>
                        <p>A história combina uma dramatização do rei Canuto, o Grande<br>
                            em ascensão histórica ao poder, com uma trama de vingança<br>
                            centrada no explorador histórico
                            Thorfinn, o filho de um
                            ex-guerreiro assassinado.<br>
                    </div>
                </div>
            </div>


            <div class="carousel-item">
                <img src="img/KO/af9f37109473aeeda2fd82283d0a388e - copia.jpg" class="d-block w-100" alt="#">
                <div class="carousel-caption d-none d-md-block">
                    <div class="box">
                        <h1>konosuba</h1>
                        <p>Após uma morte prematura e embaraçosa, Kazuma Satō, um adolescente japonês <br>
                            conhece uma deusa chamada Aqua, que se oferece para reencarnar-lo em um mundo paralelo <br>
                            controlado por um rei demoníaco, onde ele pode viver aventuras e batalhas
                            contra monstros.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/OV/57351b88e4bfe608ad6b65f0b8a0466a - copia.jpg" class="d-block w-100" alt="#">
                <div class="carousel-caption d-none d-md-block">
                    <div class="box">
                        <h1>Overlord</h1>
                        <p>Yggdrasil é um popular jogo online que, de repente, tem seus servidores desligados. <br>
                            Momonga, um jovem jogador, decide não sair do jogo e é transformado num esqueleto, o
                            Overlord. <br>
                            Como não tem família, amigos ou lugar na sociedade real, <br>
                            o jovem Momonga decide lutar para
                            dominar o novo mundo que o jogo se tornou.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="content">
        <h1 class="heading">Seinen</h1>
        <div class="line-box-1">
            <div class="line"></div>
        </div>
        <div class="container">

            <div class="wrapper" id="slide-1">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="anime" id="anime-1">
                    <div class="anime-slider-0">
                        <img src="img/SC-img/cover-0 - Copia.jpg" id="img-2" alt="SC">
                        <div class="card-content">
                            <h3>Samurai Champloo</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/VS-img/logo.webp" alt="">
                        <div class="card-content">
                            <h3>Vinland Saga</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/AOT-img/cover_resized.webp" alt="">
                        <div class="card-content">
                            <h3>Attack on Titan</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/SG-img/thumb-349858.jpg" alt="">
                        <div class="card-content">
                            <h3>Steins Gate</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/CB/d4b6f83fba3e9bfaacbd723ecdf76863.jpg" alt="">
                        <div class="card-content">
                            <h3>cowboy bebop</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/BZ/168a1af5f6d637b7c217e9da7eaf231f.jpg" alt="">
                        <div class="card-content">
                            <h3>Berserk</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/DN/MV5BNjRiNmNjMmMtN2U2Yi00ODgxLTk3OTMtMmI1MTI1NjYyZTEzXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_FMjpg_UX1000_.jpg"
                            alt="">
                        <div class="card-content">
                            <h3>death Note</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/AS/thumb-357023.jpg" alt="">
                        <div class="card-content">
                            <h3>afro samurai</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/HE/thumb-363953.jpg" alt="">
                        <div class="card-content">
                            <h3>hellsing</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/TG/tokyo-ghoul.download" alt="">
                        <div class="card-content">
                            <h3>tokyo ghoul</h3>
                        </div>
                    </div>
                </div>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>
            <h1 class="heading">Shonen</h1>

            <div class="wrapper" id="slide-2">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="anime" id="anime-2">
                    <div class="anime-slider-0">
                        <img src="img/OP/One-Piece-Wallpaper-HD.jpg" alt="SC">
                        <div class="card-content">
                            <h3>one piece</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/MHA/Season_6_Poster_3.webp" alt="">
                        <div class="card-content">
                            <h3>my hero academia</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/BL/FZfFIOvUIAU5ttM.jpg" alt="">
                        <div class="card-content">
                            <h3>bleach</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/FMAB/2364027.webp" alt="">
                        <div class="card-content">
                            <h3>full metal alchemist <br> brotherhood</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/HH/b28da7965931698d51a2d954da4d3535.jpg" alt="">
                        <div class="card-content">
                            <h3>hunter x hunter</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/JJ/39766_1_large.jpg" alt="">
                        <div class="card-content">
                            <h3>jojo's bizarre adventure</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/OPM/big-poster-do-anime-one-punch-man-tamanho-90x-0-cm-lo009-decoracao-geek.jpg"
                            alt="">
                        <div class="card-content">
                            <h3>one punch man</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/BO/thumb-166326.jpg" alt="">
                        <div class="card-content">
                            <h3>boruto</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/FT/18638d44e180fd1b51870106b88e46e4.jpe" alt="">
                        <div class="card-content">
                            <h3>fairy tail</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/JJK/wp8936520.jpg" alt="">
                        <div class="card-content">
                            <h3>jujutsu kaisen</h3>
                        </div>
                    </div>
                </div>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>

            <h1 class="heading">Isekai</h1>

            <div class="wrapper" id="slide-3">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="anime" id="anime-3">
                    <div class="anime-slider-0">
                        <img src="img/OV/HD-wallpaper-anime-overlord-ainz-ooal-gown-overlord-anime.jpg" alt="SC">
                        <div class="card-content">
                            <h3>overlord</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/TSS/19-Tensei shitara Slime Datta Ken-1080x1920.jpg" alt="">
                        <div class="card-content">
                            <h3>tensei shitara slime</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/KO/thumb-379757.jpg" alt="">
                        <div class="card-content">
                            <h3>konosuba</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="/img/GA/thumb-365862.jpg" alt="">
                        <div class="card-content">
                            <h3>gate</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/TRSH/RSJLc88UadTaZPnPuZo52Hei0fGvDVlwbbnaoi-gT64.webp" alt="">
                        <div class="card-content">
                            <h3>the rising of the</h3>
                            <h3> shield hero</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/MT/thumb-411844.jpg" alt="">
                        <div class="card-content">
                            <h3>mushoku tensei</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/RZ/95445cd55c37ce2ff04ef1adde79f50c1459210457_full.webp" alt="">
                        <div class="card-content">
                            <h3>Re: Zero</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/YS/FotoJet (5).jpg" alt="">
                        <div class="card-content">
                            <h3>youjo senki</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/SAO/thumb-418401.jpg" alt="">
                        <div class="card-content">
                            <h3>sword art online</h3>
                        </div>
                    </div>
                    <div class="anime-slider-0">
                        <img src="./img/GK/AiOAU0R8esXap1jnIEc9mfUaIBg.jpg" alt="">
                        <div class="card-content">
                            <h3>gaikotsu kishi-sama</h3>
                        </div>
                    </div>
                </div>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>

        </div>
        <div class="line-box-2">
            <div class="line"></div>
        </div>
    </div>
</body>

</html>