<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<footer class="footer">
    <a class="logo"><i class="fas fa-infinity"></i>Infinity </a>
    <div>
        <div class="abas">
            <div class="socials">
                <ul>
                    <img src="img/fuu-samurai-champloo-wallpaper-preview.jpg" alt="SC">
                    <h1 class="title-1">contato</h1>

                    <i class="fa fa-envelope"></i>
                    <a target="_blank" href="">
                        <p>joseinadilsonjunior@gmail.com</p>
                    </a>

                    <i class="fa fa-linkedin"></i>
                    <a target="_blank"
                        href="https://www.linkedin.com/in/josé-inadilson-barreto-do-nascimento-junior-b2a9a3214/">
                        <p>linkedin/joseinadilsonjunior</p>
                    </a>

                    <i class="fa fa-instagram"></i>
                    <a target="_blank" href="https://www.instagram.com/inadilsonjunior/">
                        <p>@inadilsonjunior</p>
                    </a>
                    <i class="fa fa-facebook"></i>
                    <a target="blank" href="https://www.facebook.com/profile.php?id=100003762894966">
                        <p>facebook/joseinadilsonjunior</p>
                    </a>

                    <i class="fa fa-whatsapp"></i>
                    <a href="">
                        <p>(81)984014706</p>
                    </a>
                </ul>
            </div>

            <div class="banner">

                <img src="img/OV/HD-wallpaper-anime-overlord-ainz-ooal-gown-overlord-anime.jpg" alt="SC">

            </div>

            <div class="FAQ">
                <ul>
                    <img src="img/f365af1d6fcbef678439f13b021c8229.jpg" alt="OP">

                    <h1>utilidades</h1>

                    <i class="fa fa-bookmark"></i>
                    <a href="#" target="_blank">
                        <p>categorias</p>
                    </a>


                    <i class="fa fa-user"></i>
                    <a href="#" target="_blank">
                        <p>conta</p>
                    </a>

                    <i class="fa fa-star"></i>
                    <a href="#" target="_blank">
                        <p>mais assistidos</p>
                    </a>

                    <i class="fa fa-info-circle"></i>
                    <a href="#" target="_blank">
                        <p>quem somos</p>
                    </a>

                    <i class="fa fa-book"></i>
                    <a href="#" target="_blank">
                        <p>termos de uso</p>
                    </a>
                </ul>
            </div>

        </div>
        <div class="termos">
            <a class="">©copyright 2023 <i class="fas fa-infinity"></i>infinity</a>
        </div>
    </div>

</footer>

</html>