<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<footer>
    <a class="logo"><i class="fas fa-infinity"></i>Infinity </a>
    <div class="content">
        <div class="bura">
            <div class="section-1">
                <ul>
                    <h1>UÉH</h1>
                    <a href="">
                        <p>asas livres</p>
                    </a>
                    <a href="">
                        <p>asas livres</p>
                    </a>
                    <a href="">
                        <p>asas livres</p>
                    </a>
                </ul>
            </div>
            <div class="section-2">
                <ul>
                    <h1>UEH2</h1>
                    <a href="">
                        <p>asas livres</p>
                    </a>
                    <a href="">
                        <p>asas livres</p>
                    </a>
                    <a href="">
                        <p>asas livres</p>
                    </a>
                </ul>
            </div>
        </div>

    </div>
</footer>

</html>